body {
    background: url('../img/header-diagonal-bg-small.png') top no-repeat,
    url('../img/background-image-no-border.jpg') top no-repeat,
    #020000;
    color: #ffffff;
    font-size: 14px;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

.f0 {
    font-size: 14px;
}

.f1 {
    font-size: 16px;
}

.f2 {
    font-size: 18px;
}

.f3 {
    font-size: 20px;
}

.f4 {
    font-size: 22px;
}

.f5 {
    font-size: 24px;
}

.f6 {
    font-size: 26px;
}

.f7 {
    font-size: 28px;
}

.f8 {
    font-size: 30px;
}

.f9 {
    font-size: 32px;
}

.show-results.ng-hide-add, .show-results.ng-hide-remove {
    display: block !important;
}

.show-results.ng-hide-add {
    -webkit-animation: 1s hide;
    animation: 1s hide;
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.show-results.ng-hide-remove {
    -webkit-animation: 1s show;
    animation: 1s show;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    max-width: 960px;
}

.nopad {
    padding-left: 5px;
    padding-right: 5px;
}

.main {
    background: #ffffff;
}

.blue {
    border: 2px solid #22b6e4;
    color: #22b6e4;
}

.red {
    border: 2px solid #e6203c;
    color: #e6203c;
}

.yellow {
    border: 2px solid #efb81d;
    color: #efb81d;
}

.view {
}

    .view .slider {
        padding: 30px 20px 0 20px;
        position: relative;
        z-index: 2;
    }

        .view .slider .title {
            position: relative;
            z-index: 2;
        }

        .view .slider .pic {
            position: relative;
            z-index: 1;
            margin: -18px auto 0;
            max-width: 600px;
            background: #000000;
            border: 1px solid #000000;
        }

    .view .controls {
        padding: 10px 0 20px 0;
        text-size: 16px;
        color: #666666;
    }

        .view .controls strong {
            color: #000000;
        }

        .view .controls a {
            color: #000000;
            margin: 0 20px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
        }

.vote {
    /* */
}

    .vote .title {
        margin: 75px 0 0 0;
        background: #ffffff url('../img/vote-title.png') 0 0 no-repeat;
        color: #ffffff;
        height: 50px;
        text-align: left;
    }

        .vote .title h4 {
            text-size: 16px;
            font-weight: bold;
            color: #ffffff;
            padding: 3px 0 0 50px;
        }

    .vote .boxes {
        padding: 10px 0 0 0;
    }

        .vote .boxes .box {
            background: #000000 url('../img/icon-back.png') 0 0 repeat;
            background-size: 100% 100%;
            padding: 15px 0;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            height: 125px;
            text-align: center;
        }

            .vote .boxes .box .fade {
                opacity: 1;
            }

            .vote .boxes .box .results {
                height: 70px;
                min-height: 70px;
                line-height: 70px;
            }

            .vote .boxes .box .icon {
                margin-bottom: 10px;
                display: block;
                margin: 0 auto;
            }

    .vote .comment {
        padding: 20px 5px;
        text-align: left;
        color: #000000;
    }

        .vote .comment textarea {
            width: 75%;
            margin: 5px 0;
        }

        .vote .comment .upload {
            font-size: 11px;
        }

            .vote .comment .upload a {
                text-transform: uppercase;
                text-decoration: underline;
                color: #3e59a5;
            }

.row {
    /* */
}

.center {
    text-align: center;
}

.icon {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    margin: 0 auto;
}

/*////// FOOTER ///////*/

.footer {
    background: #000000;
    background: rgba(0, 0, 0, 0.63);
}

.footer > div {
    overflow: hidden;
}

.footer-col-left img {
    border: 1px solid #000;
    width: 100%;
}

.footer-col-left ul {
    list-style: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.footer-col-left li {
    float: right;
    display: block;
    margin: 5px 0 0;
}

.footer-col-left li a {
    display: block;
}

.footer-col-left li img {
    vertical-align: top;
    width: auto;
}

.footer-col-left li:first-child {
    margin-right: 3%;
    float: left;
}

.footer-intro {
    background: #000000;
    color: #808080;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 25px;
}

.footer-intro i {
    font-size: 20px;
    color: #FFF;
    padding: 0 10px 0;
    font-style: normal;
    font-weight: bold;
}

.footer-col-right {
    float: left;
    width: 58%;
    padding-left: 2%;
}

.footer-col-right {
    font-size: 12px;
}

.footer-col-right p:first-child {
    font-weight: bold;
}

.footer-col-left {
    float: left;
    width: 40%;
}

/*///////// HEADER  ///////////*/
.row.header {
    padding: 8px 0 7px 0;
}

#social {
    position: absolute; 
    top: 30px;
    right: 20px;
}

#social a {
    display: inline-block;
    vertical-align: bottom;
}

.about-channel {
    overflow: hidden;
    margin: 10px 0 0;
}

.about-channel a {
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    float: right;
}

.about-channel a:first-child {
    float: left;
}

.header-like {
    background: url(../img/header-like.png) no-repeat;
}

.header-share {
    background: url(../img/header-share.png) no-repeat;
    margin-left: 12px;
}

.header-watch {
    background: url(../img/header-watch.png) no-repeat;
    margin-left: 12px;
}


@media (min-width: 768px) {
    .footer {
        padding: 30px 10px;
    }
}
