body {
    background: #666666;
    color: #ffffff;
    font-size: 14px;
}

h4 {
    text-size: 18px;
    color: #ffffff;
    padding: 10px 25px;
}

.container {
    background: #210816;
}

.row {
    
}

.center {
    text-align: center;    
}

.icon {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    margin: 0 auto;
}