body {
    background: #020000 url('../img/background.jpg') 50% 0 no-repeat;
    color: #ffffff;
    font-size: 14px;
}

h4 {
    text-size: 18px;
    color: #ffffff;
    padding: 10px 25px;
}

.container {
    max-width: 960px;
}

.main {
    background: #ffffff;
}

.view {
    padding: 30px;
}

    .view .header {
        position: relative;
        z-index: 2;
    }

    .view .pic {
        position: relative;
        z-index: 1;
        margin-top: -18px;
    }

.vote {
    padding: 30px;
}

    .vote .icon {
        border: 2px solid #22b6e4;
        background: #000000 url('../img/icon-background.jpg') 0 0 repeat;
        padding: 20px 0 10px;
    }

        .vote .icon a {
        }

        .vote .icon img {
            margin-bottom: 10px;
        }

.row {
}

.center {
    text-align: center;
}

.icon {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    margin: 0 auto;
}
