<!doctype html>
<html lang="en" ng-app="cmtApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:site_name" content="CMT: Country Music Television">
    <meta property="og:title" content="CMT">
    <meta property="og:description" content="Visit CMT.com">
    <meta property="og:app_id" content="">
    <meta property="fb:admins" content="">
    <title>Party Down South - Jesus, Ducktape or Whiskey?</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-cloak>
    <div class="container" ng-controller="AppController">
        <div class="row header">
            <img ng-src="{{ui.header.logo.url}}" alt="{{ui.header.logo.title}}" />
            <a href="">Like</a><a href="">Share</a>
        </div>
        <div class="row main">
            <div class="col-lg-6 center">
                <div class="row view">
                    <img ng-src="{{ui.main.header.url}}" alt="{{ui.main.header.title}}" class="header" />
                    <div ng-repeat="pic in ui.pics" class="pic">
                        <img ng-src="{{pic.url}}" alt="{{pic.title}}" class="img-responsive" ng-click="alert('test')" />
                    </div>
                </div>
                <div class="row view">
                    <a href="#" ng-click="prevPic()">prev</a> 1 of {{ui.pics.length}} <a href="#" ng-click="nextPic()">next</a>
                </div>
            </div>
            <div class="col-lg-6 center">
                <div class="row vote">
                    <div class="col-xs-12 nopad">
                        <h4>Vote for how you'd fix this?</h4>
                    </div>
                </div>
                <div class="row vote">
                    <div class="col-xs-4 nopad">
                        <div class="center icon blue" ng-click="iconClick()">
                            <img ng-src="{{ui.icons.jesus.url}}" alt="{{ui.icons.jesus.title}}" class="img-responsive" />
                            Jesus                            
                        </div>
                    </div>
                    <div class="col-xs-4 nopad">
                        <div class="center icon red" ng-click="iconClick()">
                            <img ng-src="{{ui.icons.tape.url}}" alt="{{ui.icons.tape.title}}" class="img-responsive" />
                            Duct Tape                        
                        </div>
                    </div>
                    <div class="col-xs-4 nopad">
                        <div class="center icon yellow" ng-click="iconClick()">
                            <img ng-src="{{ui.icons.whiskey.url}}" alt="{{ui.icons.whiskey.title}}" class="img-responsive" />
                            Whiskey                            
                        </div>
                    </div>
                </div>
                <div class="row comment">
                    <strong>Oh yea? Tell us why:</strong>
                    <textarea rows="5" cols="40"></textarea>
                    <div class="upload">
                        Have an image you think we should add? <a href="#">Submit Your Image</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            footer
        </div>
    </div>

    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/AppController.js"></script>
</body>
</html>
